.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.upper-dashboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.dashboard-section {
  flex: 1;
  margin: 0 10px;
}

.card {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.birthday-card, .holiday-card {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.birthday-card h3, .holiday-card h1 {
  margin-bottom: 10px;
  color: #007bff;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.pagination-button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.pagination-button:hover:enabled {
  background: #0056b3;
}

.lower-dashboard {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.actions button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.actions button.disabled {
  background: #ccc;
  cursor: not-allowed;
}

.actions button:hover:not(.disabled) {
  background: #0056b3;
}

.logs {
  text-align: center;
}

.logs h2 {
  margin-bottom: 20px;
}

.logs ul {
  list-style: none;
  padding: 0;
}

.logs li {
  margin-bottom: 10px;
}
